<div class="detail-page">
  <a class="back" routerLink="/home">← Volver a inicio</a>

  <div class="detail-card" *ngIf="product">
    <div class="image-box">
      <!-- IMAGEN PRINCIPAL -->
      <img
        class="main-image"
        [src]="selectedImage || fallback"
        (error)="imgError($event)"
        alt="product image"
      />

      <!-- MINIATURAS -->
      <div class="thumbs" *ngIf="images.length > 1">
        <img
          *ngFor="let img of images"
          class="thumb"
          [src]="img"
          [class.active]="img === selectedImage"
          (click)="selectImage(img)"
          (error)="imgError($event)"
          alt="miniatura"
        />
      </div>
    </div>

    <div class="info">
      <h1 class="title">{{ product.title }}</h1>

      <div class="price">$ {{ product.price | number }}</div>

      <div class="meta">
        <span class="chip">Categoría: {{ categoryName }}</span>
        <span class="chip">Stock: {{ stockValue }}</span>
      </div>

      <p class="description">{{ product.description }}</p>

      <div class="actions">
        <button class="btn-primary" (click)="addToCart()">
          🛒 Agregar al carrito
        </button>

        <button class="btn btn-outline-primary" routerLink="/cart">
          Ver carrito
        </button>
      </div>
    </div>
  </div>
</div>
