<div class="page">
  <div class="card">
    <div class="card-header">
      <div>
        <h2>{{ isEditMode ? 'Editar producto' : 'Agregar producto' }}</h2>
        <p>
          {{
            isEditMode
              ? 'Modifica la información del producto.'
              : 'Completa la información para crear un producto en la tienda.'
          }}
        </p>
      </div>
      <div class="badge">Admin</div>
    </div>

    <form class="form" [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <div class="grid">
        <div class="field">
          <label>Título</label>
          <input type="text" formControlName="title" />
          <small class="error" *ngIf="isInvalid('title')">El título es obligatorio</small>
        </div>

        <div class="field">
          <label>Precio</label>
          <input type="number" formControlName="price" />
          <small class="error" *ngIf="isInvalid('price')">El precio debe ser mayor a 0</small>
        </div>

        <div class="field">
          <label>Categoría</label>
          <select formControlName="categoryId">
            <option value="" disabled>Selecciona una categoría</option>
            <option *ngFor="let c of categories" [value]="c.id">
              {{ c.name }}
            </option>
          </select>
          <small class="error" *ngIf="isInvalid('categoryId')">La categoría es obligatoria</small>
        </div>

        <!-- ✅ MULTI-IMÁGENES -->
        <div class="field">
          <label>Imágenes (1 URL por línea)</label>
          <textarea
            rows="3"
            formControlName="imagesText"
            placeholder="https://img1.jpg
            https://img2.png
            https://img3.webp"
          ></textarea>

          <small class="hint">La primera URL será la imagen principal.</small>

          <small class="error" *ngIf="isInvalid('imagesText')">
            Debes agregar al menos una imagen
          </small>
        </div>
      </div>

      <div class="field">
        <label>Descripción</label>
        <textarea rows="4" formControlName="description"></textarea>
        <small class="error" *ngIf="isInvalid('description')">
          La descripción es obligatoria
        </small>
      </div>

      <!-- Preview -->
      <div class="preview">
        <div class="imgbox">
          <img [src]="imagePreview" (error)="onImgError()" alt="preview" />
        </div>

        <div class="meta">
          <div class="line">
            <span class="k">Categoría:</span>
            <span class="v">{{ getCategoryName(productForm.value.categoryId) || '—' }}</span>
          </div>
          <div class="line">
            <span class="k">Precio:</span>
            <span class="v">$ {{ productForm.value.price | number }}</span>
          </div>
        </div>
      </div>

      

        <button class="btn btn-success" type="submit" [disabled]="loading">
          {{ loading ? 'Guardando...' : (isEditMode ? 'Actualizar' : 'Crear') }}
        </button>
      
  

